/* Font initilize */
*{
    margin: 0px;
    font-family: 'work Sans', sans-serif;
}
/* mgn for Margin */
.bg{
    height: 900px;
    background-image: url('../images/banner/banner3.png');
    background-size: 100% 100%;

}
.title{
    padding-top: 216px;
    margin-left: 1200px;
    padding-right: 200px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
}
.title-des{
    margin-left: 1200px;
    color: #FFFFFF;
    text-align: right;
    padding-top: 10px;
    padding-right: 200px;
}
.btn{
    font-weight: 600;
font-size: 20px;
text-align: right;
margin-left: 1570px;
margin-top: 10px;
padding: 20px 20px;
border-radius: 5px;
border: 0;

}
.second{
    display: flex;
}
.picture{
    margin-left: 300px;
}
.inner-text{
    margin-top: 250px;
    margin-left: 50px;
}
.contary{
    font-weight: 400;
font-size: 16px;
color: #444343;
content: "\2713"
}
.three{
display: flex;
margin:50px 500px;

}
.three-title{
    text-align: center;
}
.three-des{
    text-align: center;
}
.space{
    margin-left: 86px;
}
.five{
    display: flex;
    justify-content: space-between;
}
.future{
    color: #F8F8F8;
    margin-left: 230px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.under-future{
    color: #FFFFFF;
    font-weight: 400;
font-size: 16px;
}
.subscribe{
    margin-top: 130px;
    margin-bottom: 130px;
    margin-right: 500px;
}
input {     
    background-color: Transparent;
    border-color: #F8F8F8;
    border-radius: 5px;
width: 325px;
height: 64px;
left: 1046px;
top: 2841.96px;
margin-bottom: 16px;

}
::placeholder { 
    color: #F3F3F3;
    opacity: 1; 
  }
.button-subscribe{
    padding: 20px 20px;
    background: #005FAC;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;
}
.grad-title{
    height: 300px;
    width: 940px;
    margin: 100px 200px 170px 200px;
    background-image: linear-gradient(to right,rgb(34, 157, 239),rgba(239,91,34,0)),url('../images/watch.png');
    border-radius: 10px;
    background-repeat: no-repeat;
}
.always{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding: 70px 0px 0px 70px;
    
}
.call{
    color:#22a5f1;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    padding: 15px 30px;
    margin-left: 70px;
    margin-top: -10px;
    font-size: large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }